#__next{
  background-image: url(../public/background.png);
  height: 100vh;
}
.container-fluid{
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.row{
  --bs-gutter-x: 0px !important;
  overflow-y: auto;
  max-height: 600px;
  padding: 10px;
}

.row-add{
  max-height: 680px;
}

.bibliotecaCultivos{
  width: 100%;
}

/* Barra de rolagem */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.col{
  background-color: #FFF;
  padding: 50px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-shadow: 0px 0px 5px rgb(182, 182, 182);
}
.right-col{
  margin-left: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-col .circleImage{
  background-color: rgb(236, 115, 115);
  border-radius: 50%;
}

.img-right-col{
  width: 90px;
  height: 90px;
  background-image: url(../public/Tomate.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.buttonsPlantation{
  display: none;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  border-radius: 20px;
  position: absolute;
}

.col:hover .buttonsPlantation{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardsInformation{
  height: 125px;
  display: flex;
}

.cardsInformation .card{
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: #DADADA;
  border-radius: 20px;
  color: #5f5f5f;
  border: none;
}

.cardsInformation .card .cardFasIcon{
  font-size: 50px;
  margin-bottom: 10px;
}

.right-col .maturationTime .time{
  font-size: 15px;
  color: #5f5f5f;
  margin-top: 20px;
}

.right-col .maturationTime h3{
  text-align: center;
  font-size: 50px;
  color: #137D2B;
}

.right-col .maturationTime h3 span{
  font-size: 13px;
  margin-left: -10px;
  font-weight: 500;
}

button.addPlantation{
  background: linear-gradient(to right, #1D832D, #3EA53C);
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  color: #FFF;
}

.minimizeButton{
  position: absolute;
  font-size: 30px;
  width: 70px;
  height: 70px;
  right: 10px;
  bottom: 20px;
}

.buttonsPlantation .fas{
  width: 70px;
  height: 70px;
  font-size: 30px;
}

.buttonAdd{
  display: flex;
  justify-content: center;
}


.alinhamentoModalAdd{
  display: flex;
  justify-content: center;
}

.filterBlur{
  width: 70%;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  position: absolute;
  bottom: 0;
  border-radius: 40px 40px 0px 0px;
  z-index: 1000;
}
#modalAdd{
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  transition: all 0.6s linear;
}

button{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  font-size: 40px;
  font-weight: bold;
}

.inputBuscaCultivo{
  
  width: 100%;
  display: flex;
  justify-content: center;
}

.relativeInput{
  position: relative;
  width: 70%;
}
#modalAdd input{
  width: 100%;
  border-radius: 10px;
  background-color: #CCC;
  padding-left: 30px;
}

.fa-solid.fa-magnifying-glass{
  width: 15px;
  height: 15px;
  position: absolute;
  z-index: 100;
  top: 12px;
  left: 10px;
  background-image: url('../public/lupa.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#modalAdd input::placeholder{
  color: #000;
}
#blackWindow{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  cursor: pointer;
  z-index: 100;
}

#blackWindowHome{
  background-color: rgba(100, 100, 100, 0.4);
  width: 100vw;
  height: 100vh;
  position: absolute;
}